<html>

  <head>
    <meta charset="utf-8">
    <title>"{{ ec2_tags.tags.Name}}.{{ dns_domain_name }}"</title>
  </head>

  <body>
    <table>
      <tr>
        <td>Instance ID</td>
        <td>"{{ ansible_ec2_instance_id }}"</td>
      </tr>
      <tr>
        <td>Availability Zone</td>
        <td>"{{ ansible_ec2_placement_availability_zone }}"</td>
      </tr>
      <tr>
        <td>Private IPv4</td>
        <td>"{{ ansible_ec2_local_ipv4 }}"</td>
      </tr>
      <tr>
        <td>Public IPv4</td>
        <td>"{{ ansible_ec2_public_ipv4 }}"</td>
      </tr>
    </table>
  </body>

</html>
